config=/home/Docker # where your config files are located

# media folders
series=/mnt/groot/Media/Series
movies=/mnt/groot/Media/Movies
books=/mnt/groot/Media/Books
music=/mnt/groot/Media/Music
pictures=/mnt/groot/Media/Pictures
downloads=/mnt/groot/Downloads/Downloads
new=/mnt/groot/Downloads/New

# mount points
disk0=/mnt/groot
disk1=/mnt/rocket
disk2=/mnt/mahi160

# password
pass=password
